body{
    background-color: green;
}
header{
    display: flex;
    justify-content: space-between;
}
.log{
    height: 22px;
    width: 22px;
    border-radius: 25px;
    margin-top: 5px;
}
.im{
    margin-left: 100px;
}
span{
    margin-left: 10px;
    color: azure;
}

nav{
    margin-right: 100px;
}
nav a {
    color: azure;
    margin-left: 50px;
}
.supp{
    margin-left: 50px;
    border-radius: 25px;
    background-color: green;
    color: azure;
    width: 75px;
    height: 30px;
}
.containair{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}
.inc{
    width: 500px;
    height: 500px;
}
.text{
    margin-left: 50px;
}
footer{
    display: flex;
    justify-content: space-around;
}
.sep{
    display: flex;
}
h4{
    color: white;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    color: white;
    margin-top: -20px;
}
.pa{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: white;
    margin-top: -35px;
}
.bouton{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.book{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 15px;
    color: azure;
    background-color: rgb(67, 209, 162);
}
.track{
    font-size: 1.5em;
    color: bisque;
    background-color: green;
    border: none;
    margin-right: 200px;
}
.see{
    margin-right: 400px; 
}
.all{
    background-color: green;
    border: 1px solid rgb(46, 45, 45);
    border-radius: 15px;
    height: 50px;
    width: 100px;
    color: azure;
    font-size: 12px;
}
.souri{
    /* position: absolute; */
    right: 30px;
    color: wheat;
}
.us{
    font-size: 25px;
    margin-left: 25px;
}
.fini{
    margin-right: 100px;
}
h5{
    color: azure;
}
.pp{
    margin-top: -15px;
    color: azure;
}
   
   
   
@media screen and (max-width: 920px){
    header{
        display: none;
    }
    .souri{
        display: none;
    }
    .containair{
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    .book{
        width: 150px;
        margin-right: 100px;
    }
      
      
    @media screen and (max-width: 300px) {
        .fini{
            margin-left: 500px;
        }
        .see{
            margin-top: 130px;
        }
    }  
    /* }
    .track{
        margin-left: 200px;
    } */
    /* .fini{
        margin-left: 900px;
     }
    .pa{
        width: 100%;
    } */ */
    /* .sep{
        margin-top: 150px;
    } */
}

/* @media screen and (max-width: 1100px) {
    .containair{
        flex-direction: column-reverse;
        margin-left: 0px;
    }
    .souri{
        display: none;
    }
} */
    
/* @media screen and (max-width: 996px) {
    .sep{
        margin-right: 800px;
    }
    .souri{
        margin-right: 500px;
    }
    .see{
        margin-right: 700px;
    }
    .fini{
        margin-left: 900px;
    }
    
} */
    
