body{
    background-color: green;
}
header{
    display: flex;
    justify-content: space-between;
}
.log{
    height: 22px;
    width: 22px;
    border-radius: 25px;
    margin-top: 5px;
}
.im{
    margin-left: 100px;
}
span{
    margin-left: 10px;
    color: azure;
}

nav{
    margin-right: 100px;
}
nav a {
    color: azure;
    margin-left: 50px;
}
.supp{
    margin-left: 50px;
    border-radius: 25px;
    background-color: green;
    color: azure;
    width: 75px;
    height: 30px;
}
.containair{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}
.inc{
    width: 500px;
    height: 500px;
}
.text{
    margin-left: 50px;
}
footer{
    display: flex;
    justify-content: space-around;
}
.sep{
    display: flex;
    margin-top: -40px;
}
h4{
    color: white;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    color: white;
    margin-top: -20px;
}
.pa{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    margin-top: -55px;
}
.bouton{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.book{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 15px;
    color: azure;
    background-color: rgb(67, 209, 162);
}
.track{
    font-size: 16px;
    color: bisque;
    background-color: green;
    border: none;
    margin-right: 200px;
    border: 2px solid black;
    border-radius: 15px;
    width: 150px;
}
.see{
    margin-right: 400px;
    /* margin-top: 30px;  */
}
.all{
    background-color: green;
    border: 1px solid rgb(46, 45, 45);
    border-radius: 15px;
    height: 50px;
    width: 100px;
    color: azure;
    font-size: 12px;
}
.souri{
    /* position: absolute; */
    right: 30px;
    color: wheat;
}
.us{
    font-size: 25px;
    margin-left: 25px;
}
.fini{
    margin-right: 100px;
}
h5{
    color: azure;
}
.pp{
    margin-top: -15px;
    color: azure;
}
   
   
   
@media screen and (max-width: 920px){
    header{
        display: none;
    }
    .souri{
        display: none;
    }
    .containair{
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    .book{
        width: 150px;
        margin-right: 100px;
    }
    .bouton{
        display: flex;
        justify-content: space-between;
    }
    .track {
        margin-right: 200px;
    }
    .image{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .pa{
        font-size: 50px;
    }
    .see{
        margin-top: 50px;
    }
    .fini{
        margin-left: 300px;
    }
} 
    
    @media screen and (max-width: 470px) {
        .image{
            margin-left: 100px;
        }
    }
    @media screen and (max-width: 250px) {
        .image{
            margin-left: 150px;
        }
        .bouton{
            flex-direction: column;
        }
        .track{
            margin-top: 50px;
            height: 50px;
        }
    }
      
    @media screen and (max-width: 300px) {
        .fini{
            margin-left: 500px;
        }
        .see{
            margin-top: 130px;
        }
        .inc{
            margin-left: 290px;
            width: 800px;
            height: 800px;
        
        
    }  
    /* }
    .track{
        margin-left: 200px;
    } */
    /* .fini{
        margin-left: 900px;
     }
    .pa{
        width: 100%;
    } */ */
    /* .sep{
        margin-top: 150px;
    } */
}

@media screen and (max-width: 1100px) {
    .section{
        width: 100%;
    }
    
    .containair{
        padding: 20px 50px;
    }
}
    